@media (max-width: 991px) {
  .carousel {
      padding: 60px 0;
      .prev {
        left: 15px;
      }
      .next {
        right: 15px;
      }
      .tns-outer {
        width: 500px;
        height: 387px;
      }
  }
}

@media (max-width: 767px) {
  .carousel {
      padding: 40px 0;
      .prev, .next {
        display: none;
      }
      .tns-outer {
        width: 100%;
        height: auto;
      }
  }
}

@media (max-width: 575px) {
  .carousel {
    padding: 20px 0;
  }
}